header
  .row.row--center
    .col.col--wide
      h1 Boilerplate
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto aspernatur labore ipsam provident iste voluptates esse consectetur ea! Qui laboriosam doloremque quaerat voluptate dolores vel ut delectus voluptatum magni.At, voluptatum! Itaque laboriosam aliquid incidunt eaque in molestias, blanditiis voluptatum eveniet ex at totam alias dolorum, voluptas nostrum. Reiciendis repellat molestiae placeat distinctio id praesentium nisi ipsam, non necessitatibus.Iusto eveniet eaque provident ipsa repellendus asperiores, autem repudiandae veniam beatae incidunt cumque excepturi placeat iure atque cum voluptas quae, totam hic? Mollitia id nulla inventore rerum, quae adipisci aliquam!