doctype html
html(lang="en")
  head
    title Document Title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://use.fontawesome.com/d891ebaa12.js")
    link(rel="stylesheet" href="./assets/css/main.css" type="text/css")
  
  body
    include partials/_header.pug
    
    h1 Main Heading
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, blanditiis laudantium numquam repudiandae neque dolores magnam provident facilis veniam dolorem commodi ipsa, debitis suscipit sapiente alias odit aspernatur eius id.
    
    script(src="./assets/js/app.js")