doctype html
html(lang="en")
  head
    title Document Title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://use.fontawesome.com/d891ebaa12.js")
    link(rel="stylesheet" href="./assets/css/main.css")
  
  body
    h1 Heading
    p This is working

    include partials/_header.pug
    script(src="./assets/js/app.js")