doctype html
html(lang="en")
  head
    title Document Title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://use.fontawesome.com/d891ebaa12.js")
    link(rel="stylesheet" href="./assets/css/main.css" type="text/css")
  
  body
    include partials/_header.pug

    section
      .row.row--center
        .col
          h3 centered
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto aspernatur labore ipsam provident iste voluptates esse consectetur ea! Qui laboriosam doloremque quaerat voluptate dolores vel ut delectus voluptatum magni.At, voluptatum! Itaque laboriosam aliquid incidunt eaque in molestias, blanditiis voluptatum eveniet ex at totam alias dolorum, voluptas nostrum. Reiciendis repellat molestiae placeat distinctio id praesentium nisi ipsam, non necessitatibus.Iusto eveniet eaque provident ipsa repellendus asperiores, autem repudiandae veniam beatae incidunt cumque excepturi placeat iure atque cum voluptas quae, totam hic? Mollitia id nulla inventore rerum, quae adipisci aliquam!
        .col
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto aspernatur labore ipsam provident iste voluptates esse consectetur ea! Qui laboriosam doloremque quaerat voluptate dolores vel ut delectus voluptatum magni.At, voluptatum! Itaque laboriosam aliquid incidunt eaque in molestias, blanditiis voluptatum eveniet ex at totam alias dolorum, voluptas nostrum. Reiciendis repellat molestiae placeat distinctio id praesentium nisi ipsam, non necessitatibus.Iusto eveniet eaque provident ipsa repellendus asperiores, autem repudiandae veniam beatae incidunt cumque excepturi placeat iure atque cum voluptas quae, totam hic? Mollitia id nulla inventore rerum, quae adipisci aliquam!

    section
      .row.row--spaced
        .col
          h3 spaced
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto aspernatur labore ipsam provident iste voluptates esse consectetur ea! Qui laboriosam doloremque quaerat voluptate dolores vel ut delectus voluptatum magni.At, voluptatum! Itaque laboriosam aliquid incidunt eaque in molestias, blanditiis voluptatum eveniet ex at totam alias dolorum, voluptas nostrum. Reiciendis repellat molestiae placeat distinctio id praesentium nisi ipsam, non necessitatibus.Iusto eveniet eaque provident ipsa repellendus asperiores, autem repudiandae veniam beatae incidunt cumque excepturi placeat iure atque cum voluptas quae, totam hic? Mollitia id nulla inventore rerum, quae adipisci aliquam!
        .col
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto aspernatur labore ipsam provident iste voluptates esse consectetur ea! Qui laboriosam doloremque quaerat voluptate dolores vel ut delectus voluptatum magni.At, voluptatum! Itaque laboriosam aliquid incidunt eaque in molestias, blanditiis voluptatum eveniet ex at totam alias dolorum, voluptas nostrum. Reiciendis repellat molestiae placeat distinctio id praesentium nisi ipsam, non necessitatibus.Iusto eveniet eaque provident ipsa repellendus asperiores, autem repudiandae veniam beatae incidunt cumque excepturi placeat iure atque cum voluptas quae, totam hic? Mollitia id nulla inventore rerum, quae adipisci aliquam!
    
    section
      .row.row--spaced
        .col.col--wide
          h3 full width
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto aspernatur labore ipsam provident iste voluptates esse consectetur ea! Qui laboriosam doloremque quaerat voluptate dolores vel ut delectus voluptatum magni.At, voluptatum! Itaque laboriosam aliquid incidunt eaque in molestias, blanditiis voluptatum eveniet ex at totam alias dolorum, voluptas nostrum. Reiciendis repellat molestiae placeat distinctio id praesentium nisi ipsam, non necessitatibus.Iusto eveniet eaque provident ipsa repellendus asperiores, autem repudiandae veniam beatae incidunt cumque excepturi placeat iure atque cum voluptas quae, totam hic? Mollitia id nulla inventore rerum, quae adipisci aliquam!

    script(src="./assets/js/app.js")